@import "./misc/colors";

.bestsellers {
    background-color: $accent-light;
}
.bestsellers-wrapper {
    padding: 100px 0;
    width: 90%;
    margin: auto;
    position: relative;
}

.bestsellers-carousel {
    padding: 0 50px;
}

.bestsellers-title {
    margin-bottom: 50px;
}

.bestsellers-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 30px 35px 35px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 330px;
    height: 536px;
}

.item-img {
    height: 250px;
}

.item-title {
    font-size: 1.125em;
    text-align: center;
    margin-bottom: 5px;
}

.item-desc {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.item-variants {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.item-variant {
    position: relative;
    background-color: white;
    &:hover {
        cursor: pointer;
    }
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #6b6b6b;
    border-radius: 6px;
    margin-right: 10px;
    &:last-of-type {
        margin-right: 0;
    }
    padding: 5px 0;

    font-weight: bold;
    font-size: 12px;

    &-discount {
        position: relative;
        &::after {
            content: "%";
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(40%, -40%);
            border-radius: 50%;
            background-color: $accent-secondary;
            width: 2em;
            height: 2em;
            color: white;
            text-align: center;
            line-height: 2em;
        }
    }

    &-selected {
        color: $accent-secondary;
        border: none;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border: 1.5px solid $accent;
            border-radius: 6px;
        }
        &::after {
            top: 1px;
            right: 1px;
        }
    }
}

.item-commerce {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.item-price {
    font-weight: bold;
    font-size: 1.125em;
    &-discount {
        position: relative;
        &::after {
            position: absolute;
            bottom: calc(1.125em + 7px);
            left: 0;
            font-size: 0.65em;
            color: $inactive;
            text-decoration: line-through;
            content: "20 руб";
            font-weight: bold;
        }
    }
}

.nav-icon {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.item-add {
    background-color: $accent-secondary;
    box-shadow: 0px 4px 6px rgba(255, 99, 99, 0.39);
    border-radius: 6px;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 1.125em;
    border: none;
    outline: none;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-item {
    padding: 10px;
}

.carousel-nav {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
}

.nav-btn {
    background-color: transparent;
    border: none;
    z-index: 2;
    outline: none;
}

.owl-stage-outer {
    padding-left: 35px;
}
