.catalog {
    position: relative;
}

.catalog-wrapper {
    padding: 100px 0;
    width: 90%;
    margin: auto;
}

.catalog-title {
    margin-bottom: 50px;
}

.catalog-bg {
    height: 100%;
    top: 0;
    left: 0;
}

.catalog-products {
    display: grid;
    width: 100%;
    padding-left: 10%;
    grid-auto-rows: 30px;

    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 300px;
    justify-content: space-evenly;
    align-content: space-evenly;

    row-gap: 15px;
    column-gap: 15px;
}

.catalog-product {
    padding: 40px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #ebebeb;
    box-shadow: 0px 4px 10px #ffead7;
    border-radius: 6px;
    position: relative;
    &--selected {
        z-index: 1;
        box-shadow: 0px 4px 15px darken(#ffead7, 15%);
    }
}

.product-img {
    margin-bottom: 30px;
    height: 110px;
}

.product-desc {
    text-align: center;
    font-size: 0.9em;
}

.product-price {
    align-self: flex-end;
    font-weight: bold;
}

.catalog-product--selected > .product-selectbar {
    display: flex;
}

.product-selectbar {
    position: absolute;
    height: 70px;
    bottom: -60px;
    background-color: white;
    width: 100%;
    border: 1px solid #ebebeb;
    box-shadow: 0px 4px 10px #ffead7;
    border-radius: 6px;
    border-top: none;
}

.selectbar-add {
    font-size: 0.75em;
    white-space: nowrap;
    padding: 10px 12px;
}

.quantity-title {
    font-size: 0.9em;
}

.quantity-btn {
    font-size: 1em;
    width: 32px;
    height: 30px;
    border: 1.5px solid #402c1a;
    border-radius: 45%;
    background-color: white;
    outline: none;

    &-remove {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &-add {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.quantity-count {
    display: inline-block;
    width: 32px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1.5px solid #402c1a;
    border-left: none;
    border-right: none;
}

.quantity-btn-container {
    display: flex;
    justify-items: baseline;
    align-items: center;
}

.product-selectbar {
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
