@import "colors";
@import "constants";

header {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.header-lockup {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
}

.lockup-logo {
    height: 68px;
    width: 68px;
    padding-bottom: 2px;
    background-color: $brand;
    border-radius: 6px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.lockup-slogan {
    font-weight: bold;
}

.header-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}

.phone-number {
    font-weight: bold;
}

.phone-title {
    font-size: 0.75em;
    font-weight: lighter;
}

.header-search {
    position: relative;
    margin-right: 25px;
}

.search-input {
    background-color: white;
    border: 1px solid $inactive;
    border-radius: 6px;
    padding: 12px 6px 10px 6px;
    font-size: 0.75em;
    min-width: 200px;
    font-family: $font;
    transition: all 0.5s ease;

    &:focus {
        outline: none;
        border-color: $accent-dark;
    }
}

.search-btn {
    position: absolute;
    right: 5px;
    height: 22px;
    width: 22px;
    border: none;
    background-color: #ffaf96;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;

    &:focus {
        outline: none;
    }
}

.search-btn-icon {
    color: white;
}

.header-link {
    display: inline-block;
    text-align: center;
    background-color: #ffaf96;
    border-radius: 6px;
    height: 38px;
    width: 38px;
    margin-right: 20px;
    color: white;

    &:last-child {
        margin-right: 0;
    }
}

.link-icon {
    margin: auto;
    line-height: 38px;
}
