@import "header";
@import "intro";
@import "bestsellers";
@import "catalog";
@import "whyus";
@import "footer";
@import "./misc/colors";
@import "./misc/constants";

* {
    margin: 0;
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: $font;
    font-size: 16px;
    color: $font-dark;
}

.title {
    font-size: 2.1em;
}

button:hover {
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
    .title {
        font-size: 1.5em;
    }
}