@charset "UTF-8";
header {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  padding-top: 20px; }

.header-lockup {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start; }

.lockup-logo {
  height: 68px;
  width: 68px;
  padding-bottom: 2px;
  background-color: #ffab5e;
  border-radius: 6px;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px; }

.lockup-slogan {
  font-weight: bold; }

.header-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 50px; }

.phone-number {
  font-weight: bold; }

.phone-title {
  font-size: 0.75em;
  font-weight: lighter; }

.header-search {
  position: relative;
  margin-right: 25px; }

.search-input {
  background-color: white;
  border: 1px solid #6b6b6b;
  border-radius: 6px;
  padding: 12px 6px 10px 6px;
  font-size: 0.75em;
  min-width: 200px;
  font-family: "Open Sans", sans-serif;
  transition: all 0.5s ease; }
  .search-input:focus {
    outline: none;
    border-color: #d1a074; }

.search-btn {
  position: absolute;
  right: 5px;
  height: 22px;
  width: 22px;
  border: none;
  background-color: #ffaf96;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  padding-top: 2px; }
  .search-btn:focus {
    outline: none; }

.search-btn-icon {
  color: white; }

.header-link {
  display: inline-block;
  text-align: center;
  background-color: #ffaf96;
  border-radius: 6px;
  height: 38px;
  width: 38px;
  margin-right: 20px;
  color: white; }
  .header-link:last-child {
    margin-right: 0; }

.link-icon {
  margin: auto;
  line-height: 38px; }

.intro {
  height: calc(100vh - 68px - 20px);
  padding: 150px 0 50px 5%;
  position: relative; }

.side-bg {
  position: absolute;
  width: 440px;
  background-color: #fff3e8;
  z-index: -1; }

.intro-bg {
  right: 0;
  bottom: 0;
  height: 100vh; }

.bg-kitty {
  max-width: 100%;
  opacity: 0.5;
  background: transparent;
  position: absolute;
  bottom: 0; }

.bg-overlay {
  background-color: #fff3e8; }

.offer-text {
  font-size: 2.5em;
  margin-bottom: 40px; }

.offer-btn {
  height: 55px;
  width: 220px;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
  outline: none;
  transition: all 0.75s ease; }
  .offer-btn-primary {
    color: white;
    background-color: #FF6363;
    box-shadow: 0px 4px 6px rgba(255, 99, 99, 0.39);
    border: none;
    margin-right: 25px; }
    .offer-btn-primary:hover {
      background-color: #ff3030; }
  .offer-btn-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: initial;
    border: 1px solid #d1a074;
    background-color: white; }

.intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 50%; }

.social-link {
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 0.85;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none; }
  .social-link-vk {
    background-color: #4c75a3;
    opacity: 0.9; }
  .social-link-yt {
    background-color: #e4405f; }
  .social-link-inst {
    background-color: #cd201f; }

.bestsellers {
  background-color: #FFEBD9; }

.bestsellers-wrapper {
  padding: 100px 0;
  width: 90%;
  margin: auto;
  position: relative; }

.bestsellers-carousel {
  padding: 0 50px; }

.bestsellers-title {
  margin-bottom: 50px; }

.bestsellers-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 30px 35px 35px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 330px;
  height: 536px; }

.item-img {
  height: 250px; }

.item-title {
  font-size: 1.125em;
  text-align: center;
  margin-bottom: 5px; }

.item-desc {
  font-size: 0.8em;
  margin-bottom: 20px; }

.item-variants {
  display: flex;
  align-items: center;
  margin-bottom: 23px; }

.item-variant {
  position: relative;
  background-color: white;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #6b6b6b;
  border-radius: 6px;
  margin-right: 10px;
  padding: 5px 0;
  font-weight: bold;
  font-size: 12px; }
  .item-variant:hover {
    cursor: pointer; }
  .item-variant:last-of-type {
    margin-right: 0; }
  .item-variant-discount {
    position: relative; }
    .item-variant-discount::after {
      content: "%";
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(40%, -40%);
      border-radius: 50%;
      background-color: #FF6363;
      width: 2em;
      height: 2em;
      color: white;
      text-align: center;
      line-height: 2em; }
  .item-variant-selected {
    color: #FF6363;
    border: none; }
    .item-variant-selected::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border: 1.5px solid #ffaf96;
      border-radius: 6px; }
    .item-variant-selected::after {
      top: 1px;
      right: 1px; }

.item-commerce {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.item-price {
  font-weight: bold;
  font-size: 1.125em; }
  .item-price-discount {
    position: relative; }
    .item-price-discount::after {
      position: absolute;
      bottom: calc(1.125em + 7px);
      left: 0;
      font-size: 0.65em;
      color: #6b6b6b;
      text-decoration: line-through;
      content: "20 руб";
      font-weight: bold; }

.nav-icon {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

.item-add {
  background-color: #FF6363;
  box-shadow: 0px 4px 6px rgba(255, 99, 99, 0.39);
  border-radius: 6px;
  color: white;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1.125em;
  border: none;
  outline: none; }

.owl-carousel .owl-item img {
  width: auto; }

.owl-item {
  padding: 10px; }

.carousel-nav {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 50%; }

.nav-btn {
  background-color: transparent;
  border: none;
  z-index: 2;
  outline: none; }

.owl-stage-outer {
  padding-left: 35px; }

.catalog {
  position: relative; }

.catalog-wrapper {
  padding: 100px 0;
  width: 90%;
  margin: auto; }

.catalog-title {
  margin-bottom: 50px; }

.catalog-bg {
  height: 100%;
  top: 0;
  left: 0; }

.catalog-products {
  display: grid;
  width: 100%;
  padding-left: 10%;
  grid-auto-rows: 30px;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 300px;
  justify-content: space-evenly;
  align-content: space-evenly;
  row-gap: 15px;
  column-gap: 15px; }

.catalog-product {
  padding: 40px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ebebeb;
  box-shadow: 0px 4px 10px #ffead7;
  border-radius: 6px;
  position: relative; }
  .catalog-product--selected {
    z-index: 1;
    box-shadow: 0px 4px 15px #ffc28b; }

.product-img {
  margin-bottom: 30px;
  height: 110px; }

.product-desc {
  text-align: center;
  font-size: 0.9em; }

.product-price {
  align-self: flex-end;
  font-weight: bold; }

.catalog-product--selected > .product-selectbar {
  display: flex; }

.product-selectbar {
  position: absolute;
  height: 70px;
  bottom: -60px;
  background-color: white;
  width: 100%;
  border: 1px solid #ebebeb;
  box-shadow: 0px 4px 10px #ffead7;
  border-radius: 6px;
  border-top: none; }

.selectbar-add {
  font-size: 0.75em;
  white-space: nowrap;
  padding: 10px 12px; }

.quantity-title {
  font-size: 0.9em; }

.quantity-btn {
  font-size: 1em;
  width: 32px;
  height: 30px;
  border: 1.5px solid #402c1a;
  border-radius: 45%;
  background-color: white;
  outline: none; }
  .quantity-btn-remove {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .quantity-btn-add {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.quantity-count {
  display: inline-block;
  width: 32px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border: 1.5px solid #402c1a;
  border-left: none;
  border-right: none; }

.quantity-btn-container {
  display: flex;
  justify-items: baseline;
  align-items: center; }

.product-selectbar {
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.catalog-load {
  cursor: pointer;
  display: flex;
  background-color: #FFEBD9;
  border: 1px solid #ebebeb;
  box-shadow: 0px 4px 10px #ffead7;
  border-radius: 6px;
  justify-content: center;
  align-items: center; }

.load-cross {
  width: 23px;
  height: 156px;
  background: #ff6363;
  border-radius: 26px;
  position: relative; }
  .load-cross::after {
    content: "";
    display: block;
    width: 156px;
    height: 23px;
    background: #ff6363;
    border-radius: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.whyus {
  background-color: #FFEBD9;
  padding: 100px 0 70px; }

.whyus-wrapper {
  width: 90%;
  margin: auto;
  text-align: center; }

.whyus-title {
  margin-bottom: 50px; }

.whyus-reasons {
  display: flex;
  justify-content: space-around; }

.reason {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 300px; }

.reason-text {
  text-align: center; }

.reason-img-container {
  height: 130px;
  width: 130px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }

.reason-img {
  max-height: 90px; }

.reason-title {
  margin-bottom: 10px; }

.whyup-scrollup {
  display: inline-block;
  margin: auto;
  margin-top: 50px; }

.scrollup-btn {
  margin: auto; }

.scrollup-btn-text {
  margin-right: 10px; }

footer {
  padding: 25px 0;
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto; }

* {
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #301b08; }

.title {
  font-size: 2.1em; }

button:hover {
  cursor: pointer; }
